@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #f0f8ff;
}

.navbar {
  padding: 18px 25px;
}

.navbar img {
  width: 170px;
}

/* Container Login */
.container {
  max-width: 400px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px 28px;
  border-radius: 16px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.title h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
  text-align: center;
}

.title p {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 25px;
}

/* Input */
.input label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.input input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-size: 14px;
}

.input .eye {
  width: 22px;
  position: absolute;
  margin-left: -35px;
  margin-top: -73px;
  cursor: pointer;
}

.input p {
  font-size: 14px;
  color: orangered;
  text-align: right;
  margin-bottom: 18px;
  cursor: pointer;
}

/* Button */
.btn1,
.btn2,
.btn3 {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 12px;
}

/* tombol masuk */
.btn1 {
  background: orangered;
  color: white;
}

/* tombol daftar */
.btn2 {
  background: #fff;
  border: 1px solid orangered;
  color: orangered;
}

/* google login */
.btn3 {
  background: #fff;
  border: 1px solid #ccc;
  color: #444;
  position: relative;
}

.google {
  width: 22px;
  position: absolute;
  margin-left: -50px;
  margin-top: 10px;
}

/* FRAME */
.frame {
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-right: 125px;
}

/* Hover Effect */
button:hover {
  opacity: 0.85;
  transition: 0.2s;
}

/* Responsive */
@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 25px;
  }

  .google {
    margin-left: -200px;
  }

  .input .eye {
    margin-left: -33px;
  }
}
