@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #f0f8ff;
}

.navbar {
  padding: 18px 25px;
}

.navbar img {
  width: 170px;
}

/* Container Register */
.container {
  max-width: 420px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px 28px;
  border-radius: 16px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.title h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 6px;
}

.title p {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-bottom: 25px;
}

/* Input Style */
.input label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.input input,
.input select {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-size: 14px;
}

/* Input No HP (flex) */
#bendera {
  position: absolute;
  width: 25px;
  margin-top: 14px;
  margin-left: 10px;
}

#telepon {
  width: 80px;
  padding-left: 40px;
  margin-bottom: 16px;
}

#tel {
  margin-top: -5px;
}

/* Eye password */
.eye-off {
  width: 22px;
  position: absolute;
  margin-left: -35px;
  margin-top: 10px;
  cursor: pointer;
}

/* Forgot password */
.input p {
  font-size: 14px;
  color: orangered;
  text-align: right;
  margin-bottom: 18px;
  cursor: pointer;
}

/* Button Style */
.btn1,
.btn2,
.btn3 {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 12px;
}

.btn1 {
  background: orangered;
  color: white;
}

.btn2 {
  background: #fff;
  border: 1px solid orangered;
  color: orangered;
}

.btn3 {
  background: #fff;
  border: 1px solid #ccc;
  color: #444;
  position: relative;
}

/* Google Icon */
.google {
  width: 22px;
  position: absolute;
  margin-left: -40px;
  margin-top: 10px;
}

/* FRAME TEXT */
.frame {
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-right: 135px;
}

/* Hover Effect */
button:hover {
  opacity: 0.85;
  transition: 0.2s;
}

/* Responsive Mobile */
@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 25px;
  }

  #telepon {
    width: 90px;
  }

  .google {
    margin-left: -200px;
  }

  .eye-off {
    margin-left: -34px;
  }
}
